@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.linkImage {
    padding: 5px;
    height: 45px;
    width: 45px;
    border-radius: 40px;
}

.profileImage {
    height: 130px;
    width: 170px;
}

.profileArea {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 50vh;
    border-radius: 100px;
}

.textArea {
    width: 250px;
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-top: 0px;
}

.pageGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.name{
    font-family: 'Fredoka One';
    color: #86C232;
}