@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222629;
}
.logo {
  width: 100px;
  height: 100px;
  cursor: pointer; 
  margin-bottom: 20px;
  margin-left: 10px;
}

.button {
  background-color:#86C232;
  border-radius: 10px;
}
.aboutUs{
  margin: auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  text-decoration: none;
}

.favorites{
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-right: 10px;
}

.noUser{
  display: flex;
}

.loginButton {
  width: 100px;
  height: 50px;
  margin-left: 75vw;
  background: #86C232;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  cursor: pointer; 
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.signupButton{
  margin-left: 10px;
  width: 100px;
  height: 50px;
  background: #86C232;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer; 
}

.favoritesButton{
  margin-right: 10px;
  margin-left: 75vw;
  width: 100px;
  height: 50px;
  background: #86C232;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer; 
}

.logoutButton {
  width: 100px;
  height: 50px;
  background: #86C232;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer; 
}

