.headerContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #222629;
}
.logo {
  width: 100px;
  height: 100px;
  cursor: pointer; 
}

.button {
  background-color:#86C232;
  border-radius: 10px;
}

.noUser{
  display: flex;
  margin-left: 75%
}

.loginButton {
  width: 100px;
  height: 50px;
  background: #86C232;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  color: #474B4F;
  cursor: pointer; 
}

.signupButton{
  margin-left: 10px;
  width: 100px;
  height: 50px;
  background: #86C232;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  color: #474B4F;
  cursor: pointer; 
}

.logoutButton {
  margin-left: 65vw;
  width: 100px;
  height: 50px;
  background: #86C232;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  color: #474B4F;
  cursor: pointer; 
}

