@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.streamerTitle{
  font-family: 'Fredoka One';
  color: #474B4f;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card{
  width: 20vw;
  margin: 10px;
}

.caption{
  border-radius: 0px 0px 20px 20px;
  background-color: #6B6E70;
  color: #474B4f
}

.channelImage{
  border-radius: 20px 20px 0px 0px;
}